/* FONTS */
$oxygen: 'Oxygen', sans-serif;
$font-h1: 54px;
$font-h2: 42px;
$font-h3: 36px;
$font-h4: 24px;
$font-h5: 18px;

/* COLORS */
$color-white: #F5F5F5;
$color-green: #28784D;
$color-red: #943156;
$color-gold: #AA7639;